/my_env
/__pycache__
/notes.txt
/test.py
/Ui/__pycache__/
/System/__pycache__/
/Processes/__pycache__/
/Network/__pycache__/
/SFTP/__pycache__/
/System/*.so
/.vscode/
/testSFTP.ui
/Ui/SFTP/__pycache__/
/Ui/Network/__pycache__/
/Ui/Processes/__pycache__/
/Ui/test.ui



