/my_env
/__pycache__
/notes.txt
/test.py
/Ui/__pycache__/
/System/__pycache__/
/Processes/__pycache__/
/Network/__pycache__/
FTP/__pycache__/
/System/*.so
/testUi.py
/testUi.ui
/.vscode/
/testSFTP.ui
/Ui/FTP/__pycache__/
/Ui/Network/__pycache__/
/Ui/Processes/__pycache__/
.gitignore



